In [7]:
from torchinfo import summary
from models.DC_CDN import DC_CDN_Classifier
import torch

device = 'cuda:0'
model = DC_CDN_Classifier(device=device).to(device)
summary(model, input_size=(1, 3, 256, 256))

====================================================================================================
Layer (type:depth-idx)                             Output Shape              Param #
====================================================================================================
DC_CDN_Classifier                                  [1, 1]                    --
├─FeatureExtractor: 1-1                            [1, 384, 1, 1]            --
│    └─DC_CDN: 2-1                                 [1, 32, 32]               6
│    │    └─Sequential: 3-1                        [1, 64, 256, 256]         1,088
│    │    └─Sequential: 3-2                        [1, 64, 256, 256]         1,088
│    │    └─Sequential: 3-3                        [1, 128, 128, 128]        292,744
│    │    └─Sequential: 3-4                        [1, 128, 128, 128]        292,744
│    │    └─Sequential: 3-5                        [1, 128, 64, 64]          333,704
│    │    └─Sequential: 3-6                        [1, 128, 64, 64]          333,704
│    │    └─Sequential: 3-7                        [1, 128, 32, 32]          333,704
│    │    └─Sequential: 3-8                        [1, 128, 32, 32]          333,704
│    │    └─Upsample: 3-9                          [1, 128, 32, 32]          --
│    │    └─Upsample: 3-10                         [1, 128, 32, 32]          --
│    │    └─Upsample: 3-11                         [1, 128, 32, 32]          --
│    │    └─Sequential: 3-12                       [1, 128, 32, 32]          246,016
│    │    └─Sequential: 3-13                       [1, 64, 32, 32]           41,088
│    │    └─Upsample: 3-14                         [1, 128, 32, 32]          --
│    │    └─Upsample: 3-15                         [1, 128, 32, 32]          --
│    │    └─Upsample: 3-16                         [1, 128, 32, 32]          --
│    │    └─Sequential: 3-17                       [1, 128, 32, 32]          246,016
│    │    └─Sequential: 3-18                       [1, 64, 32, 32]           41,088
│    │    └─Sequential: 3-19                       [1, 1, 32, 32]            128
│    └─AdaptiveAvgPool2d: 2-2                      [1, 384, 1, 1]            --
├─Sequential: 1-2                                  [1, 1]                    --
│    └─Flatten: 2-3                                [1, 384]                  --
│    └─Linear: 2-4                                 [1, 64]                   24,640
│    └─ReLU: 2-5                                   [1, 64]                   --
│    └─Linear: 2-6                                 [1, 1]                    65
│    └─Sigmoid: 2-7                                [1, 1]                    --
====================================================================================================
Total params: 2,521,527
Trainable params: 2,521,527
Non-trainable params: 0
Total mult-adds (M): 0.16
====================================================================================================
Input size (MB): 0.79
Forward/backward pass size (MB): 692.33
Params size (MB): 0.13
Estimated Total Size (MB): 693.24
====================================================================================================

In [9]:
import pandas as pd

In [16]:
df_train = pd.read_csv("/data02/manhquang/dataset/celeba-spoof/CelebA_Spoof_/CelebA_Spoof/metas/intra_test/train_label.txt", sep=" ", header=None)
df_train.head()

                                  0  1
0   Data/train/2623/live/000000.jpg  0
1  Data/train/5489/spoof/000001.jpg  1
2  Data/train/7149/spoof/000002.jpg  1
3  Data/train/4980/spoof/000003.jpg  1
4  Data/train/7124/spoof/000004.jpg  1

In [17]:
df_train[1].value_counts()

1
1    331943
0    162462
Name: count, dtype: int64

In [18]:
df_test = pd.read_csv("/data02/manhquang/dataset/celeba-spoof/CelebA_Spoof_/CelebA_Spoof/metas/intra_test/test_label.txt", sep=" ", header=None)
df_test.head()

                                 0  1
0  Data/test/6964/spoof/494405.png  1
1  Data/test/9596/spoof/494406.png  1
2  Data/test/9014/spoof/494407.png  1
3  Data/test/7607/spoof/494408.png  1
4  Data/test/5624/spoof/494409.png  1

In [19]:
df_test[1].value_counts()

1
1    47247
0    19923
Name: count, dtype: int64